a{
    //background-color: red!important;
}

.auth{
    text-align: revert;
    float: right!important;
    //border: blue 1px solid;
}


#status_icon{
    display: block;
    border: 1px chartreuse solid;
    border-radius: 50%;
    float: left;
    width: 10px;height: 10px;
    margin-right: 8px;
    background-color: chartreuse;
    margin-top: 6px;
}

#status_text{
}


.chat-box input[type='text']{
    height: 80px;
}

.chat-box label{
    display: none;
}

img.img-circle{
    pointer-events: none;
}